h1 {
    text-align: center;
    color:black;
}

p {
    text-align: center;
    color: yellow;
    padding: 30px;
    
}

body {
    background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg");
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
